# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Compilados
*.class

# Logs
*.log

# IDEs
.idea/
.vscode/
*.iml

# Eclipse / Spring Tools
.project
.classpath
.settings/
.factorypath

# OS
.DS_Store
Thumbs.db